{% extends 'app_movies/base.html' %}

{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container">
            <div class="row">
                <span class="footer-title editContent">
                    Страна: Россия<br>
                    Город: Санкт-Петербург<br>
                    GitHub: <a href="https://github.com/DjangoTamer">https://github.com/DjangoTamer</a><br>
                </span>
            </div>
        </div>
    </section>
{% endblock content %}